@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: "Play", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  background-color: #dc143c;
  padding: 0.25rem;
  color: #fff;
  margin-top: 15px;
}

.box-left,
.box-right {
  display: flex;
  align-items: center;
}

.img-github {
  width: 25px;
}

.img-lab {
  width: 115px;
}

@media (min-width: 320px) and (max-width: 334px) {
  footer {
    font-size: 0.45rem;
  }
}

@media (min-width: 335px) and (max-width: 409px) {
  footer {
    font-size: 0.5rem;
  }
}

@media (min-width: 410px) and (max-width: 500px) {
  footer {
    font-size: 0.65rem;
  }
}

@media (min-width: 1980px) {
  footer {
    font-size: 1.4rem;
  }
}
