.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 745px;
  margin: 100px auto;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-container {
  width: 100%;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  position: relative;
  border-radius: 15px;
  background-color: #fff;
}

.face.front {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.logo {
  width: 100%;
  border-radius: 75px;
  margin-top: 5px;
}

p.name {
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  text-transform: uppercase;
}
